<!-- <h1>{{title}}</h1>

<app-data-binding></app-data-binding> -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->

<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->

<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- 
<app-diretiva-style></app-diretiva-style> -->
<!-- 
<app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>Conteudo passado
        <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<app-exemplo-ng-content>
    <div class="titulo">Titulo do painel</div>
    <div class="corpo">Conteudo passado</div>    
    <div class="corpo">Conteudo passado 2</div>   
</app-exemplo-ng-content>